<html>
    <head>
        <%- include("libraryImports") -%>
        <title>Restaurant City</title>        
    </head>

    <body>
        <div class="sidenav">
            <img src="images/restaurantCityLogo.png">
            <h1>Welcome, <%- session.userName %>!</h1>
            <hr style="color: #FFFFFF; margin-left: 15px; margin-right: 15px">

            <a href="home">View Dashboard</a>
            <a href="#">View Inventory</a>
            <a href="#">Manage Inventory</a>
            <a href="viewDishes">View Dishes</a>
            <a href="#">Manage Dishes</a>
            <a href="viewSales">View Stock Report</a>
            <a href="#">Input Physical Count</a>
            <a href="viewOrderTerminal">View Order Terminal</a>
            <a href="adminConfirmation">Manage Users</a>
            
            <a href="logout" style="position: absolute; bottom: 0; left: 0;">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
                Logout
            </a>
            
          </div>
          
          <!-- Page content -->
          <div class="main">