<%- include("partials/header") -%>
<style>
    .conversion-form-holder {
    display:flex; 
    justify-content: center; 
    text-align: center;
}

.conversion-form {
    max-width: 30vw; 
    min-height: fit-content; 
    display:flex; 
    justify-content: center; 
    text-align: center;
}

/* Should be inline css so that other modules wouldn't be affected */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; 
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

</style>
    <div class="conversion-form-holder">
        <div class="card shadow conversion-form">
            <div class="form-align-left"  style="color: #818181;">
                <a href="/viewConversions/<%= ingredient._id %>">
                    <i class="fa-solid fa-arrow-left fa-lg" style="color: #818181;"></i>
                    Back
                </a>
            </div>

            <h1>Add Unit Conversion for <%= ingredient.name %></h1>
            <hr>
            Enter a conversion for the units.
            <form action="" method="post">
                <br>
                <div id="form-row">
                    <!-- OLD STYLE -->
                    <!-- <div id="form-row-content" style="display: flex;">
                        <div class="form-unit">
                            <label for="unit">Unit</label>
                            <select class="form-select" id="startUnit" name="unit"
                                aria-label="Default select example" required>
                                <option disabled selected value>Select Unit</option>
                            </select>
                        </div>

                        <div class="form-group" style="margin-left: 15px; margin-top: 9%;">
                            <i class="fa-solid fa-arrow-right"></i>
                        </div>

                        <div class="form-convert-into-unit" style="margin-left: 10px;">
                            <label for="convertIntoUnit">Convert into</label>
                            <select class="form-select" name="convertIntoUnit" id="convertIntoUnit"
                                aria-label="Default select example" required>
                                <option disabled selected value>Select Unit to Convert</option>
                            </select>
                        </div>
                    </div> -->

                    <!-- NEW STYLE * temporary * -->
                    <div class="form-group form-align-left">
                        <label>Unit</label>
                        <select class="form-select" id="startUnit" name="unit"
                            aria-label="Default select example" required>
                            <option disabled selected value>Select Unit</option>
                        </select>
                    </div>

                    <br/>
                    <div class="form-group form-align-left">
                        <label>Convert into</label>
                        <select class="form-select" name="convertIntoUnit" id="convertIntoUnit"
                            aria-label="Default select example" required>
                            <option disabled selected value>Select Unit to Convert</option>
                        </select>
                    </div>

                    <br/>
                    <div class="form-group form-align-left">
                        <label>Conversion Factor</label>
                        <input type="number" name="ingreName" placeholder="e.g. 0.0001" min="1" class="form-control" style="text-align: left; width: 100%;">
                    </div>
                </div>
                <br/>
                <a href="/addUnit" style="text-decoration: none;">
                    If the desired unit is not displayed, first add a <b><u>UNIT</u></b> 
                  </a>
                <hr style="margin-top: 2rem;">

                <button type="submit" class="btn btn-submit-count w-100">Submit</button>
            </form>
        </div>
    </div>
    <%- include("partials/footer") -%>