<%- include("partials/header") -%>
<div class="card shadow">
    <h1>Add Category</h1>
    <hr>
    Enter a new category for dishes. Avoid inputting a category already recognized by the system.
    <form>
        <br>
        <div class="form-row">
          <div class="form-group col-md-3">
            <label for="inputdishCategory"><h4>Dish Category</h4></label>
            <input type="text" class="form-control" id="inputdishCategory" placeholder="e.g. Appetizers">
          </div>
        </div>
        <hr>
        <button type="button" class="btn btn-submit-count" style="display:flex;">SUBMIT</button>
    </form>
</div>

<%- include("partials/footer") -%>