<%- include("partials/header") -%>
<div class="category-form-holder">
  <div class="card shadow category-form">
    <h1>Add Category</h1>
    <hr>
    Enter a new category for dishes. Avoid inputting a category already recognized by the system.
    <form>
      <br>
      <div class="form-group form-align-left">
          <label for="inputdishCategory">Dish Category</label>
          <input type="text" class="form-control" id="inputdishCategory" placeholder="e.g. Appetizers">
      </div>
      <hr style="margin-top: 4rem;">
      <button type="button" class="btn btn-submit-count w-100">SUBMIT</button>
    </form>
  </div>
</div>

<%- include("partials/footer") -%>