<%- include("partials/header") -%>

<!-- TODO: Add later to CSS file -->
<style>
    #add-ni-card{
        margin: auto;
        width: 600px;
    }
</style>

<div id="add-ni-card" class="card shadow">
    <!-- TODO: Change DIV CLASS -> Own [inventory-header] -->
    <div>
        <h1 style="text-align: center; padding: 5px;">Add New Ingredient</h1>
    </div>
    <hr/>
    <!-- TODO: Add DIV CLASS -> Body of New Ingredient -->
    <div>
        <p style="text-align: center;">Add a NEW ingredient (i.e. First Purchase) to the inventory list. Fill-out ALL input fields for the details of the ingredient.</p>
        <br/>
    </div>

    <form method="post" action="#">
        <div>
            <label>Ingredient Name</label>
            <!-- TODO: CSS - Translate Style -->
            <input type="text" name="ingreName" placeholder="E.g. Cabbage, Sesame Oil, Rice" style="padding: 5px; width: 100%;" required>
        </div>
        <br/>

        <div>
            <label>Net Weight</label>
            <!-- TODO: CSS - Translate Style -->
            <input type="number" name="ingreNetWt" placeholder="Minimum: 1" min="1" max="10" style="padding: 5px; text-align: left; width: 100%;" required>
        </div>
        <br/>

        <div>
            <label>Unit</label>
            <!-- TODO: CSS - Translate Style -->
            <!-- TODO: Backend - Get values from Tbl_Units -->
            <select name="ingreUnit" style="padding: 5px; width: 100%;" required>
                <option disabled selected value> -- Select a Unit -- </option>
                <option value="g">g (Grams)</option>
                <option value="kg">Kg (Kilograms)</option>
                <option value="ml">mL (Milliliters)</option>
                <option value="l">L (Liters)</option>
            </select>
        </div>
        <br/>

        <div>
            <!-- TODO: Backend - Will automatically compute for total net weight -->
            <label>Quantity</label>
            <!-- TODO: CSS - Translate Style -->
            <input type="number" name="ingreQty" placeholder="Minimum: 1" min="1" max="10" style="padding: 5px; text-align: left; width: 100%;" required>
        </div>
        <br/>
        
        <hr/>
        <button type="submit" class="btn btn-submit-count" style="width: 100%;">Add New Ingredient to Inventory</button>
    </form>
</div>

<%- include("partials/footer") -%>