<%- include("partials/header") -%>

    <!-- TODO: Add later to CSS file -->
    <style>
        #add-ni-card {
            margin: auto;
            width: 600px;
        }
        
        .button-container {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
        
        .btn-view-inventory {
            background-color: white;
            color: black;
            border: 1px solid black;
        }
    </style>

    <div id="add-ni-card" class="card shadow">
        <div>
            <h1 style="text-align: center; padding: 5px; color: red;">ERROR IN ADDING INGREDIENT</h1>
        </div>
        <hr/>
        <div>
            <p style="text-align: center; font-size: 20px; ">
                <%= message %>
            </p>
            <br/>
        </div>
        <div class="button-container">
            <a href="/recordAddtl/p1">
                <button class="btn btn-submit-count" style="width: 100%;">Record Additional Purchase</button>
            </a>
            <button class="btn btn-secondary" onclick="history.back()" style="color:white; width: 100%;">Go back to form</button>
        </div>
    </div>

    <%- include("partials/footer") -%>