<%- include("partials/header") -%>

    <!-- TODO: Add later to CSS file -->
    <style>
        #add-ni-card {
            margin: auto;
            width: 700px;
        }
    </style>

    <div id="add-ni-card" class="card shadow">
        <div>
            <h1 style="text-align: center; padding: 5px;">Add New Ingredient</h1>
        </div>
        <hr/>
        <!-- TODO: Add DIV CLASS -> Body of New Ingredient -->
        <div>
            <p style="text-align: center;">Add a new ingredient (i.e. First Purchase) to the inventory list. Fill-out ALL input fields for the details of the ingredient.</p>
            <p style="text-align: center;">If the ingredient you are about to add ALREADY EXISTS in the inventory, you must use the <a href="/recordAddtl/p1">Record Additional Purchase</a> module.</p></p>
            <br/>
        </div>

        <form method="post" action="/addNewIngredient/process">
            <div class="form-group form-align-left">
                <label>Ingredient Name</label>
                <!-- TODO: CSS - Translate Style -->
                <input type="text" name="ingreName" class="form-control" placeholder="E.g. Cabbage, Sesame Oil, Rice" required>
            </div>
            <br/>

            <div class="form-group form-align-left">
                <label>Category</label>
                <!-- TODO: CSS - Translate Style -->
                <!-- TODO: Backend - Get values from Tbl_Units -->
                <select id="add-ni-category" name="ingreCategory" onchange="changeOptions()" class="form-select form-select-md" style="padding: 5px; width: 100%;" required>
                    <option disabled selected value> -- Select a category -- </option>
                    <option value="wet">Wet Ingredient</option>
                    <option value="dry">Dry Ingredient</option>
                </select>
            </div>
            <br/>

            <div class="form-group form-align-left">
                <label>Net Weight</label>
                <!-- TODO: CSS - Translate Style -->
                <input type="number" name="ingreNetWt" placeholder="Minimum: 1" min="1" class="form-control" style="padding: 5px; text-align: left; width: 100%;" required>
            </div>
            <br/>

            <div class="form-group form-align-left">
                <label>Unit</label>
                <select id="add-ni-unit" name="ingreUnit" class="form-select form-select-md" style="padding: 5px; width: 100%;" required>
                    <option disabled selected value> -- Select a Unit -- </option>
                </select>
            </div>
            <br/>

            <div class="form-group form-align-left">
                <!-- TODO: Backend - Will automatically compute for total net weight -->
                <label>Quantity</label>
                <!-- TODO: CSS - Translate Style -->
                <input type="number" name="ingreQty" placeholder="Minimum: 1" min="1" max="10" class="form-control" style="padding: 5px; text-align: left; width: 100%;" required>
            </div>
            <br/>

            <hr/>
            <button type="submit" class="btn btn-submit-count" style="width: 100%;">Add to Inventory</button>
        </form>
    </div>

    <script src="js/addNewIngredient.js"></script>

    <%- include("partials/footer") -%>