<%- include("partials/header") -%>

<!-- TODO: Add later to CSS file -->
<style>
    #add-ni-card {
        margin: auto;
        width: 600px;
    }
</style>
<div id="add-ni-card" class="card shadow">
    <div>
        <h1 style="text-align: center; padding: 5px;">Add New Ingredient</h1>
    </div>
    <hr/>
    <!-- TODO: Add DIV CLASS -> Body of New Ingredient -->
    <div>
        <p style="text-align: center;">Kindly specify the name of the NEW ingredient. If it already exists in the inventory, select an ingredient to add a new packaging size for.</p>
        <p style="text-align: center;">If the ingredient <u>(together with the package size)</u> to be added ALREADY EXISTS in the inventory, proceed to <a href="/recordAddtl/p1">Record Purchase</a>.</p></p>
        <br/>
    </div>
    <form method="post" action="/addNewIngredient/p2">
        <div id='add-ni-ingredient-div' class="form-group form-align-left">
            <label>Ingredient Name</label>
            <!-- TODO: Change to SELECT -->
            <!-- <input type="text" name="ingreName" class="form-control" placeholder="E.g. Cabbage, Sesame Oil, Rice" required> -->
            <select name="ingreId" onchange="changeOptions1()" id='add-ni-ingredient-select' class="form-select form-select-md" style="text-transform: capitalize; width: 100%;" required>
                <option disabled selected value> -- Select Ingredient -- </option>
                <!-- Iterate through each available ingredient -->
                <% if(ingredients.length > 0) {%>
                    <% ingredients.forEach(ing => { %> 
                        <option value="<%= ing._id %>"><%= ing.name %></option>
                    <% }) %> 
                <% } %>
                <option value="others">Others... (Specify)</option>
            </select>
        </div>
        <br/>

        <hr/>
        <button type="submit" class="btn btn-submit-count" style="width: 100%;">Proceed to Adding</button>
    </form>
</div>

<script src="/js/addNewIngredient.js"></script>

<%- include("partials/footer") -%>