<%- include("partials/header") -%>
    <div class="card-holder">
        <div class="card shadow d-flex flex-column text-left" style="min-width: 25vw; min-height: 10vw;">
                
            <form class="user-form" action="/adminConfirmation" method="POST" >

                <h1 id="content-title">Confirm Identity</h1>
                <hr>

                <div class="form-group form-align-left">
                    Password
                    <input type="password" class="form-control" name="password" required>
                </div>

                <hr>

                <div class="user-confirm ">
                    <button class="btn btn-primary w-100 btn-submit-count" type="submit" data-toggle="modal" data-target="#exampleModal">Confirm</button>
                </div>
            </form>

            <div class="centered">
                <h6 id="prompt" ><%=adminConfirmationPrompt%></h6>
            </div>

        </div>    
    </div>

<%- include("partials/footer") -%>