<%- include("partials/header") -%>
    <div class="card-holder">
        <div class="card d-flex flex-column text-left" style="min-width: 25vw; min-height: 10vw;">
                
            <form action="/changePassword" method="POST" >

                <div class="form-align-left"  style="color: #818181;">
                    <a href="/home">
                        <i class="fa-solid fa-arrow-left fa-lg" style="color: #818181;"></i>
                        Back
                    </a>
                </div>

                <h1 id="content-title">Change Password</h1>
                <hr>
                
                <div class="form-group form-align-left">
                    Old Password
                    <input type="password" class="form-control" name="oldPass" required>
                </div>

                <div class="form-group form-align-left">
                    New Password
                    <input type="password" class="form-control" name="newPass1" required>
                </div>

                <div class="form-group form-align-left">
                    Confirm Password
                    <input type="password" class="form-control" name="newPass2" required>
                </div>
                
                <hr>
                
                <div class="user-confirm">
                    <button class="btn btn-primary w-100" type="submit" data-toggle="modal" data-target="#exampleModal">Change Password</button>
                </div>           
            </form>

            <%=changePrompt%>

        </div>    
    </div>

<%- include("partials/footer") -%>