<%- include("partials/header") -%>
    <div class="card-holder">
        <div class="card shadow d-flex flex-column text-left" style="min-width: 25vw; min-height: 10vw;">
                
            <form action="/changeOwnPassword" method="POST" >

                <div class="form-align-left"  style="color: #818181;">
                    <a href="/home">
                        <i class="fa-solid fa-arrow-left fa-lg" style="color: #818181;"></i>
                        Back
                    </a>
                </div>

                <h1 id="content-title">Change Password</h1>
                <hr>
                
                <div class="form-group form-align-left">
                    Old Password
                    <input type="password" class="form-control" name="oldPass" required>
                </div>

                <div class="form-group form-align-left">
                    New Password
                    <input type="password" class="form-control" name="password1" required>
                </div>

                <div class="form-group form-align-left">
                    Confirm Password
                    <input type="password" class="form-control" name="password2" required>
                </div>
                
                <hr>
                
                <div class="user-confirm">
                    <button class="btn btn-primary w-100" type="submit" data-toggle="modal" data-target="#exampleModal">Change Password</button>
                </div>           
            </form>

            <%  if(success_msg){%>
                <p id="success_msg" style="color:green; font-weight:bold; margin-top: 15px; text-align: center;"> <%= success_msg %> </p>
            <% }%>

            <% if(error_msg) { %>
                <p id="error-message" style="color: red; font-weight: bold; margin-top: 15px; text-align: center;"> <%= error_msg %> </p>
                <p id="error-message" style="color: red; font-weight: bold; margin-top: 15px; text-align: center; display: none;">Passwords do not match!</p>
            <% } else { %>
                <p id="error-message" style="color: red; font-weight: bold; margin-top: 15px; text-align: center; display: none;">Passwords do not match!</p>
            <% } %>

        </div>    
    </div>

    <script>
        document.querySelectorAll('form').forEach(function(form) {
            form.addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent form submission
                
                var password1Input = form.querySelector("input[type='password'][name='password1']");
                var password2Input = form.querySelector("input[type='password'][name='password2']");
                var errorMessage = document.getElementById("error-message"); // Get the error message element
                
                if (password1Input.value !== password2Input.value) {
                    document.getElementById("success_msg").style.display = "none"; // Get the error message element
                    errorMessage.textContent = "Passwords do not match!"; // Set the error message text
                    password1Input.value = ""; // Clear the password inputs
                    password2Input.value = "";
                } else {
                    errorMessage.textContent = ""; // Clear the error message if passwords match
                    form.submit(); // Submit the form
                }
            });
        });
    </script>
<%- include("partials/footer") -%>