<%- include("partials/header") -%>
    <div class="card-holder">
        <div class="card d-flex flex-column text-left" style="width: 25vw; min-height: 10vw;">
                
            <form action="/changePassword" method="POST" >
                
                <div class="form-group password-form-group">
                    Old Password
                    <input type="password" class="form-control" name="oldPass" >
                </div>

                <div class="form-group password-form-group">
                    New Password
                    <input type="password" class="form-control" name="newPass1" >
                </div>

                <div class="form-group password-form-group">
                    Confirm Password
                    <input type="password" class="form-control" name="newPass2" >
                </div>
                
                <div class="password-confirm">
                    <button class="btn btn-primary w-100" type="submit" data-toggle="modal" data-target="#exampleModal">Change Password</button>
                </div>           
            </form>

            <%=changePrompt%>

            

        </div>    
    </div>

<%- include("partials/footer") -%>