<%- include("partials/header") -%>

<!-- TODO: Add later to CSS file -->
<style>
    #discard-card{
        margin: auto;
        width: 600px;
    }

    #discard-others-field{
        display: flex;
    }
</style>    

<div id="discard-card" class="card shadow">
    <!-- TODO: Change DIV CLASS -> Own [inventory-header] -->
    <div>
        <h1 style="text-align: center; padding: 5px;">Discard Ingredients</h1>
    </div>
    <hr/>

    <!-- TODO: Add DIV CLASS -> Body of New Ingredient -->
    <div>
        <p style="text-align: center;">This module is for discarding expired/spoiled ingredients. You must first select an ingredient before inputting the amount to be disposed.</p>
        <br/>
    </div>

    <!-- TODO: Backend form -->
    <form method="post" action="/viewInventory/discard/p2">
        <div class="form-group">
            <label>Ingredient Name</label>
            <!-- TODO: Translate Style to CCS -->
            <select name="ingreId" class="form-select form-select-md" style="text-transform: capitalize; width: 100%; padding: 5px;" required>
                <option disabled selected value> -- Select an Ingredient -- </option>
                <!-- Iterate through each available ingredient -->
                <% if(ingredients.length > 0) {%>
                    <% ingredients.forEach(ing => { %> 
                        <option value="<%= ing._id %>"><%= ing.name %></option>
                    <% }) %> 
                <% } %>
            </select>
        </div>
        <br/>

        <hr/>
        <button type="submit" class="btn btn-submit-count" style="width: 100%;">Proceed to Discarding</button>
    </form>
    <form method="get" action="/viewInventory">
        <button type="submit" class="btn btn-secondary" style="color:white; width: 100%;">Return to Inventory</button>
    </form>
</div>

<%- include("partials/footer") -%>