<html lang="en">
    <head>
        <%- include("partials/libraryImports") -%>
        <!-- Restaurant City CSS -->
        <title>Restaurant City</title>        
    </head>

    <body>

        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }
        </script>

        <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">View Inventory</a>
            <a href="#">View Dishes</a>
            <a href="#">View Sales Report</a>
            <a href="#">Order Terminal</a>
            <a href="#">Manage Users</a>
        </div>

        <div id="main">

            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" onclick="openNav()">
                    <i class="fa-solid fa-bars fa-2xl"></i>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="current-user">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Logged in as: <%- session.userName %>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Change Username</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Change Password</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/logout">Logout</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            
            <h1>Welcome!</h1>
            
            <div class="card-holder">

                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">View Inventory</h5>
                        <p class="card-text">Manage stocks and track inventory levels.</p>
                        <a href="#" class="btn btn-primary mt-auto">Manage</a>
                    </div>
                </div>    
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">View Dishes</h5>
                        <p class="card-text">Show current menu offerings.</p>
                        <a href="#" class="btn btn-primary mt-auto">Show</a>
                    </div>
                </div>    
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">View Sales Report</h5>
                        <p class="card-text">Analyze and generate reports on sales and inventory data.</p>
                        <a href="#" class="btn btn-primary mt-auto">Analyze</a>
                    </div>
                </div>    
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Order Terminal</h5>
                        <p class="card-text">Input new customer orders and generate receipts.</p>
                        <a href="#" class="btn btn-primary mt-auto">Input Order</a>
                    </div>
                </div>    
                
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Manage Users</h5>
                        <p class="card-text">Create, update, or delete user accounts.</p>
                        <a href="#" class="btn btn-primary mt-auto">Manage</a>
                    </div>
                </div>
                

            </div>
            
        </div>
    </body>
</html>