<%- include("partials/header") -%>

    <h1>Welcome!</h1>
    
    <div class="card-holder">

        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">View Inventory</h5>
                <p class="card-text">Manage stocks and track inventory levels.</p>
                <a href="#" class="btn btn-primary mt-auto">Manage</a>
            </div>
        </div>    
        
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">View Dishes</h5>
                <p class="card-text">Show current menu offerings.</p>
                <a href="#" class="btn btn-primary mt-auto">Show</a>
            </div>
        </div>    
        
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">View Sales Report</h5>
                <p class="card-text">Analyze and generate reports on sales and inventory data.</p>
                <a href="#" class="btn btn-primary mt-auto">Analyze</a>
            </div>
        </div>    
        
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Order Terminal</h5>
                <p class="card-text">Input new customer orders and generate receipts.</p>
                <a href="#" class="btn btn-primary mt-auto">Input Order</a>
            </div>
        </div>    
        
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Manage Users</h5>
                <p class="card-text">Create, update, or delete user accounts.</p>
                <a href="#" class="btn btn-primary mt-auto">Manage</a>
            </div>
        </div>
        
    </div>

<%- include("partials/footer") -%>