<%- include("partials/header") -%>

    <h1>Welcome!</h1>
    
    <div class="card-holder d-flex justify-content-center align-items-center">
              
        <a href="#">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">View Inventory</h5>
                    <p class="card-text">Manage stocks and track inventory levels.</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">View Dishes</h5>
                    <p class="card-text">Show current menu offerings.</p>
                </div>
            </div>
        </a>

        <a href="/viewSales">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">View Sales Report</h5>
                    <p class="card-text">Analyze and generate reports on sales and inventory data.</p>
                </div>
            </div>
        </a>
    
        <a href="/orderTerminal">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Order Terminal</h5>
                    <p class="card-text">Input new customer orders and generate receipts.</p>
                </div>
            </div> 
        </a>

        <a href="/userLanding">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Manage Users</h5>
                    <p class="card-text">Create, update, or delete user accounts.</p>
                </div>
            </div> 
        </a>
                
    </div>

<%- include("partials/footer") -%>