<%- include("partials/header") -%>
<h1>Dashboard</h1>
<hr>
    
    <div class="card-holder ">
        <div class="card shadow d-flex flex-column text-left" style="min-width: 75vw; min-height: 20vw;">
            <div class="card-body d-flex flex-column">
                <h1>Alerts</h1> 
                <hr>

                
            </div>        
        </div>        
    </div>

    <div class="card-holder ">
        <div class="card shadow d-flex flex-column text-left" style="min-width: 75vw; min-height: 20vw;">
            <div class="card-body d-flex flex-column">
                <h1>Daily Tasks</h1> 
                <hr>
                
            </div>        
        </div>        
    </div>

<%- include("partials/footer") -%>