<%- include("partials/header") -%>
<div class="physical-card-holder">
    <div class="card shadow physical-card">
        <div class="physical-header">
            <h1>Physical Count</h1>
            <button type="button" class="btn btn-save-progress">SAVE PROGRESS</button>
            <button type="button" class="btn btn-submit-count" data-toggle="modal" data-target="#submitCountError">SUBMIT PHYSICAL COUNT</button>
        </div>
        <hr>
        <div class="center-table">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Quantity Stock</th>
                </tr>
                </thead>
                <tbody>
                <tr> 
                    <td>Olive Oil</td>
                    <td>500</td>
                    <td>mL</td>
                    <td><input type="number" name="qty" min="0"></td>
                </tr>
                <tr> 
                    <td>Milk</td>
                    <td>1</td>
                    <td>L</td>
                    <td><input type="number" name="qty" min="0"></td>
                </tr>
                <tr> 
                    <td>Cabbage</td>
                    <td>1</td>
                    <td>Kg</td>
                    <td><input type="number" name="qty" min="0"></td>
                </tr>
                </tbody>
            </table>
        </div>
    
        <!-- Modal -->
        <div class="modal modal-centered fade" id="submitCountError" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h3 class="modal-title-mismatch">Mismatch detected</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body modal-centeralign">
                    There are <b>3</b> ingredients that do not match with the system count. 
                    <br>
                    <div class="modal-centerbullets">
                        <ul>
                            <li>Baking Soda</li>
                            <li>Carrots</li>
                            <li>Flour</li>
                        </ul>
                    </div>
                    Update physical stock accordingly.
                </div>
                <div class="modal-footer modal-spaced">
                <button type="button" class="btn btn-recount" data-dismiss="modal">RECOUNT</button>
                <a href="home"><button type="button" class="btn btn-submit-count">REPORT</button></a>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<%- include("partials/footer") -%>