<html>
    <head>
        <title>Restaurant City</title>        
        <link rel="stylesheet" href="/login.css">
    </head>

    <form action="/login" method="POST">
        Email
            <input name="email" type="text" placeholder="Enter Email" required>
        Password
            <input name="password" type="password" placeholder="Enter Password" required>
        <input type="Submit" value="Log In">
    </form>

</html>
