<%- include("partials/header") -%>
    <div class="card-holder">
        <div class="card d-flex flex-column text-left" style="width: 25vw; min-height: 10vw;">
            
        </div>    
    </div>

<%- include("partials/footer") -%>