<%- include("partials/header") -%>

<!-- TODO: Add later to CSS file -->
<style>
    #add-ni-card{
        margin: auto;
        width: 600px;
    }
</style>

<div id="add-ni-card" class="card shadow">
    <div>
        <h1 style="text-align: center; padding: 5px;">Order Fulfillment Status</h1>
    </div>
    <hr/>
    <div style="text-align: center;">
        <p><%= orderPrompt %></p>
        <br/>
    
        <% if (lackingIngredients && lackingIngredients.length > 0) { %>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">List of Insufficient Ingredients</th>
                    </tr>
                </thead>
                <tbody>
                    <% lackingIngredients.forEach(function(ingredient) { %>
                        <tr> 
                            <td><%= ingredient %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>


        

    </div>
    

    <form method="GET" action="/viewOrderTerminal">
        <hr/>
        <button type="submit" class="btn btn-submit-count" style="width: 100%;">Back to Order Terminal</button>
    </form>
</div>

<%- include("partials/footer") -%>