<%- include("partials/header") -%>
<div class="card-holder">
    <div class="order-card order-card-transaction card">
        Logged in as: <%- session.userName %>
    </div>
    <div class="order-card order-card-options card">
        Logged in as: <%- session.userName %>
    </div>
</div>
    

<%- include("partials/footer") -%>