<%- include("partials/header") -%>
<script src="js/orderTerminal.js"></script>
<!-- <div class="card-holder ">
    <div class="card d-flex flex-column text-left" style="min-width: 80vw; min-height: 40vw;">
        <div class="card-body d-flex flex-column">
            
            <h1>DASHBOARD</h1> 
            
        </div>        
    </div>        
</div> -->

<div class="terminal-card-holder">
    <div class="card terminal-input-card shadow">
        
        <h1 id="content-title">Order Terminal</h1>
        <hr>

        <!-- INPUT CARD -->
        <div class="order-item-holder">

            <div class="card order-item" id="dish-item">
                <h5 name="dish-name">Pita Shawarma</h5>
                <h6 name="dish-price">Php 50.00</h6>
                <input type="hidden" name="dish-id" value="wawawa">
            </div>

        </div>

        <div class="order-category-holder">
            
            <div class="order-category">Main Dishes</div>
            <div class="order-category">Side Dishes</div>
            <div class="order-category">Drinks</div>
            <div class="order-category">Dessert</div>
            
        </div>
        
    </div>

    <!-- OUTPUT CARD -->
    <div class="card terminal-output-card shadow" >

        <h1 id="content-title">Current Order</h1>
        <hr>
        
        <table id="order-terminal-table" class="table table-striped order-terminal-table">
            <thead>
                <tr>
                    <th style="text-align: left;">Dish</th>
                    <th>Quantity</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td style="text-align: left;">Shawarma Rice</td>
                    <td style="text-align: center;"><input type="number" style="
                        width: 4em;
                        text-align:center;
                        padding-left:10px;"></td>
                    <td style="text-align: right;">₱ 180.00</td>
                </tr>

            </tbody>
        </table>

        <div class="order-terminal-bottom">
            
            <h1>TOTAL: Php 465.00</h1>
            <hr>

            <button class="btn btn-primary w-100" style="margin: 5px; background-color: #63A375;">
                Confirm
            </button>

            <button class="btn btn-primary w-100" style="margin: 5px; background-color: #B56576;">
                Cancel
            </button>
            
        </div>

    </div>
            
</div> 

<%- include("partials/footer") -%>