<%- include("partials/header") -%>

<!-- TODO: Add later to CSS file -->
<style>
    #add-ni-card {
        margin: auto;
        width: 600px;
    }
</style>
<div id="add-ni-card" class="card shadow" style="width: 700px;">
    <div>
        <h1 style="text-align: center; padding: 5px;">Record First Purchase</h1>
    </div>
    <hr/>
    <!-- TODO: Add DIV CLASS -> Body of New Ingredient -->
    <div style="text-align: center;">
        <p>Please select the ingredient that you will be recording the first purchase of.</p>
        <p>If the ingredient to be recorded has ALREADY BEEN BOUGHT before OR does NOT have definite sizing options, proceed to <a href="/recordAddtl/p1">Record Purchase</a>. If it does not exist in the inventory, please add it first via <a href="/addNewIngredient">Add Ingredient</a>.</p>
        <br/>
    </div>
    <form method="post" action="/recordFirst/p2">
        <div class="form-group">
            <label>Ingredient Name</label>
            <!-- TODO: Translate Style to CCS -->
            <select name="ingreId" class="form-select form-select-md" style="text-transform: capitalize; width: 100%; padding: 5px;" required>
                <option disabled selected value> -- Select Ingredient -- </option>
                <!-- Iterate through each available ingredient -->
                <% if(ingredients.length > 0) {%>
                    <% for(let i = 0; i < ingredients.length; i++){%>
                        <% if (ingredients[i].hasVariant) {%>
                            <option value="<%= ingredients[i]._id %>"><%= ingredients[i].name %></option>
                        <% } %>
                    <% } %>
                <% } %>
            </select>
        </div>
        <br/>

        <hr/>
        <button type="submit" class="btn btn-submit-count" style="width: 100%;">Proceed to Next Step</button>
    </form>

</div>

<%- include("partials/footer") -%>