<%- include("partials/header") -%>

    <h1 id="content-title">Manage Users</h1>

    <div class="card-holder">

        <a href="/createUser">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title">Create Users</h1>
                    <p class="card-text">Create user accounts for new employees.</p>
                </div>
            </div>    
        </a>

        <a href="/manageUser">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/images/czeska bicep.png" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h1 class="card-title">Manage Users</h1>
                    <p class="card-text">Update existing user accounts.</p>
                </div>
            </div>
        </a> 
        
    </div>

<%- include("partials/footer") -%>