<%- include("partials/header") -%>
<div class="card shadow">
    <div class="stock-header">
        <h1>Analytics Overview</h1>
        <div id="current_date"></div>
    </div>

    <div class="stock-analytics-holder">
        <div class="card stock-analytics instock">
            <h3>In Stock</h3>
            <h1>3</h1>
        </div>
        <div class="card stock-analytics lowstock">
            <h3>Low Stock</h3>
            <h1>2</h1>
        </div>
        <div class="card stock-analytics outofstock">
            <h3>Out of Stock</h3>
            <h1>3</h1>
        </div>
        <div class="card stock-analytics missingstock">
            <h3>Missing</h3>
            <h1>6</h1>
        </div>
    </div>
</div>
<div class="order-item-holder" style="margin-top: 3rem;">
    <a href="/viewPeriodical" class="no-decor">
        <div class="card report-button">
            <h3>View Periodical Report</h3>
            <i class="fa-solid fa-file-lines fa-4x"></i>
        </div>
    </a>
    <a href="/viewCustom" class="no-decor">
        <div class="card report-button">
            <h3>View Custom Report</h3>
            <i class="fa-solid fa-file-pen fa-4x"></i>
        </div>
    </a>
</div>

<script src="js/calendarPeriodical.js"></script>
<%- include("partials/footer") -%>