<%- include("partials/header") -%>
<div class="card">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Dish</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">More</th>
        <th scope="col">Remove Dish</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Shawarma Rice</td>
        <td>Main Dish</td>
        <td>₱ 250.00</td>
        <td><button type="button" class="btn">...</button></td>
        <td><button type="button" class="btn btn-warning">Delete</button></td>
      </tr>
      <tr>
        <td>Honey Garlic Salmon</td>
        <td>Main Dish</td>
        <td>₱ 450.00</td>
        <td><button type="button" class="btn">...</button></td>
        <td><button type="button" class="btn btn-warning">Delete</button></td>
      </tr>
      <tr>
        <td>Margherita Pizza</td>
        <td>Side Dish</td>
        <td>₱ 120.00</td>
        <td><button type="button" class="btn">...</button></td>
        <td><button type="button" class="btn btn-warning">Delete</button></td>
      </tr>
      <tr>
        <td>Mango Shake</td>
        <td>Drinks</td>
        <td>₱ 75.00</td>
        <td><button type="button" class="btn">...</button></td>
        <td><button type="button" class="btn btn-warning">Delete</button></td>
      </tr>
      <tr>
        <td>Blueberry Cheesecake</td>
        <td>Dessert</td>
        <td>₱ 130.00</td>
        <td><button type="button" class="btn">...</button></td>
        <td><button type="button" class="btn btn-warning">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>