<%- include("partials/header") -%>

<div class="order-item-holder" style="margin-top: 3rem;">
    <a href="/viewPeriodical" class="no-decor">
        <div class="card report-button">
            <h3>View Periodical Report</h3>
            <i class="fa-solid fa-file-lines fa-4x"></i>
        </div>
    </a>
    <a href="/viewCustom" class="no-decor">
        <div class="card report-button">
            <h3>View Custom Report</h3>
            <i class="fa-solid fa-file-pen fa-4x"></i>
        </div>
    </a>
</div>

<script src="js/calendarPeriodical.js"></script>
<%- include("partials/footer") -%>