body > h1 {
    color: blue;
}

.login-bg {
    height: 100%;
    padding: 0%;
    background-position: center;
    background-color: #292F36;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    border-radius: 15px;
    border: 2px solid #547AA5;
    box-shadow: 10px 10px #292F36;
    background-color: #E7EEEC;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-button {
    height: 20px; 
    width: 100px;
    text-align: center;
}
