/***************** INPUT TEMPLATE CSS *****************/
input[type='number']{
    width: 4em;
    text-align:center;
    padding-left:10px;
} 

/***************** LOGIN CSS *****************/
.login-bg {
    height: 100%;
    padding: 0%;
    background-position: center;
    background-color: #292F36;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    border-radius: 15px;
    border: 2px solid #547AA5;
    width: 650px;
    /* max-width: 30vw; */
    box-shadow: 10px 10px #0000008f;
    background-color: #E7EEEC;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box form {
    width: 65%;
}

.user-confirm,
.login-box .btn.btn-primary {
    margin-top: 35px;
    text-align: center;
}

/***************** TEMPLATE PAGE CSS *****************/
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
    background-color: #E7EEEC;
    display: inline;
}

.current-user {
    margin-left: auto; 
    margin-right: 0;
}

/* For SideBar */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 16vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #292F36;
    overflow-x: hidden;
    padding-top: 1vw;
    padding-bottom: 1vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.sidenav a {
    padding-left: 0.9vw;
    padding-right: 0.25vw;
    padding-top: 0.9vw;
    padding-bottom: 0.25vw;

    text-decoration: none;
    font-size: 1.5em;
    color: #818181;
}

.sidenav img {
    padding-left: 0.9vw;
    padding-right: 0.9vw;
}

.sidenav h1 {
    padding-left: 0.9vw;
    padding-right: 0.25vw;
    padding-top: 0.9vw;
    padding-bottom: 0.25vw;

    color: #f1f1f1;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .logout-button{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin-top: auto; /* Added */
}

.logout-button{
    margin-top: 5vh;
}

.sidenav hr{
    color: #FFFFFF; 
    margin-left: 0.9vw;
    margin-right: 0.9vw;
}

.main {
    margin-left: 16vw;
    padding: 2vw;
}

h1 {
    padding-top: 10vm;
    font-size: 2em;
    font-weight: bold;
}

/****************** FOR CARDLAYOUT CSS ******************/
.card {
    margin: 10px;
    padding: 20px;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
  
.card-holder a {
    text-decoration: none;
}

.shadow {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/***************** VIEW SALES PAGE CSS *****************/
.sales-header {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    margin-top: 0.5em;
}

.sales-date {
    display: inline-flex;
    justify-content: center;
    padding: 1rem;
}

.table {
    text-align: center;
}

.sales-form-group {
    display: inline-flex;
}


.datepicker .datepicker-days tr td.active ~ td,
.datepicker .datepicker-days tr td.active {
    color: #af1623 !important;
    background: transparent !important;
} 

.datepicker .datepicker-days tr:hover td {
    color: #000;
    background: #e5e2e3;
    border-radius: 0;
} 

/***************** VIEW DISH PAGE CSS *****************/
.viewdish-card-holder {
    display:flex; 
    justify-content: center; 
    text-align: center;
}

.viewdish-form{
    max-width: 50vw; 
    min-height: fit-content;
    display:flex; 
    justify-content: center; 
    text-align: center;
}

.viewdish-header{
    display: flex;
    justify-content: left;
    font-weight: bold;
    margin-top: 0.5em;
}

button.viewRecipeBtn { 
    background:none; 
    border:none; 
}

/***************** ADD DISH PAGE CSS *****************/
.addDish-card-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.addDish-header{
    display: flex;
    justify-content: left;
    margin-top: 0.5em;
}

.addDish-header button{
        margin-left: 29vw;  
        height: 38px;
}


.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  #form-row-content {
    flex: 1;
    display: flex;
  }
  
  .form-row-buttons {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .form-row-buttons button {
    margin-left: 10px;
  }

/***************** EDIT DISH PAGE CSS *****************/
  .editDish-card-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.editDish-header{
    display: flex;
    justify-content: left;
    margin-top: 0.5em;
}

.editDish-header button{
        margin-left: 29vw;  
        height: 38px;
}

.editDish-form-row-buttons {
    display: flex;
    align-items: baseline;
    margin-left: 10px;
    margin-top: 10px;
    
  }
  
.editDish-form-row-buttons button {
   margin-left: 10px;
    
  }


/***************** ORDER TERMINAL PAGE CSS *****************/

.order-card {
    display: inline;
}

.order-card-transaction {
    min-width: 28vw;
}

.order-card-options {
    min-width: 68vw;
}

/***************** USER ACCOUNT MANAGEMENT CSS *****************/

#content-title {
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.form-align-left {
    text-align: left;
}

.form-align-left a {
    text-decoration: none;
    color: #818181;
}

th, td {
    vertical-align: middle;
}

td i {
    margin: 1rem;
}

.btn.btn-secondary{
    color: wheat;
}

.centered {
    display: flex;
    justify-content: center;
    color: #af1623;
}

/***************** ORDER TERMINAL CSS *****************/

.terminal-card-holder{
    display: flex;
    flex-direction: row;
    width: 80vw; 
    height: 40vw;
}

 .terminal-input-card{
    width: 70%;
    max-height: max-content;
    overflow:auto;
}

.terminal-output-card{
    width: 30%;
}

.order-item-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    overflow:auto;
    height: 90%;
    justify-content: space-evenly;
}

.order-item {
    text-align: center;
    width: max-content;
    flex-basis: 20%;
    flex-grow: 0;
    height: 25%;

    /* to align items to center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-item:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.order-category-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.order-category {
    align-items: center;
    text-align: center;
    border-color: #d2d2d2;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    border-style: solid;
    flex-basis: 20%;

    /* to align items to center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-category:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.order-terminal-bottom {
    position: absolute; 
    bottom: 20px; 
    width: 80%;
    align-self: center;
    text-align: center;
}

.order-terminal-table-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: auto;
    max-height: 60%;
}

/***************** VIEW STOCK CSS *****************/
.stock-header {
    display: flex;
    justify-content:space-between;
}

.stock-header2 {
    /* display: inline-flex;
    gap: 1rem; */
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content:space-between;
}

.stock-analytics-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    overflow:auto;
    justify-content: space-evenly;
    margin: 2rem;
}

.stock-analytics {
    text-align: center;
    width: max-content;
    flex-basis: 20%;
    flex-grow: 0;
    height: 30%;

    /* to align items to center */
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;

    box-shadow: 8px 5px 10px rgb(0 0 0 / 0.2);
}

.instock {
    background-color: rgb(186, 226, 195);
    color: rgb(4, 73, 27);
}

.lowstock {
    background-color: rgb(255, 228, 170);
    color: rgb(205, 146, 17);
}

.outofstock {
    background-color: rgb(193, 137, 146);
    color: rgb(130, 7, 7);
}

.missingstock {
    background-color: rgb(255, 171, 108);
    color: rgb(141, 67, 35);
}

.table-success, .table-warning, .table-danger{
    font-weight: bold;
}

.report-button {
    text-align: center;
    width: max-content;
    flex-basis: 20%;
    flex-grow: 0;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 5px;
    background-color: rgb(0, 145, 207);
    color: #E7EEEC;
    justify-content: space-around;
}

.report-button:hover {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.no-decor {
    text-decoration: none;
}

/***************** CATEGORY CSS *****************/
.category-form-holder {
    display:flex; 
    justify-content: center; 
    text-align: center;
}

.category-form {
    max-width: 30vw; 
    min-height: fit-content; 
    display:flex; 
    justify-content: center; 
    text-align: center;
}


/***************** PERIODICAL CSS *****************/
.periodical-header {
    display: inline;
    justify-content:center;
    text-align: center;
}

.periodical-footer {
    display: inline;
    justify-content:center;
    text-align: center;
}

.periodical-card-holder{
    display: flex;
    flex-direction: row;
    width: 80vw; 
    height: 40vw;
}

.periodical-report-card{
    width: 70%;
    height: fit-content;
    overflow:auto;
}

.periodical-select-card{
    width: 30%;
    height: fit-content;
}

/***************** INPUT PHYSICAL COUNT CSS *****************/

.center-td {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.physical-card-holder {
    width: 900px;
    margin: auto;
}

.physical-header {
    display: flex;
    flex-direction: row;
}

.physical-header h1 {
    flex-grow: 1;
}

.physical-header button {
    margin-left: 1rem;
}

.btn-save-progress {
    background-color: rgb(65, 161, 98);
    color:white;
}

.btn-save-progress:hover {
    background-color: rgb(30, 95, 53);
    color:white;
}

.btn-submit-count {
    background-color: rgb(0, 145, 207);
    color:white;
}

.btn-submit-count:hover {
    background-color: rgb(31, 110, 145);
    color:white;
}

.btn-recount {
    background-color: rgb(65, 161, 98);
    color:white;
}

.btn-recount:hover {
    background-color: rgb(30, 95, 53);
    color:white;
}

.center-table{
    justify-content:center;
}

/***************** DETAILED REPORT CSS *****************/
.detailed-header {
    display: flex;
}

.detailed-header2 {
    display: flex;
    flex-direction: row;
    text-align: end;
    align-items: end;
    margin-left:auto;  
    margin-right:0px;
}

.detailed-header h3 {
    text-align: start;
    flex-grow: 1;
}

.detailed-header #align-right, .detailed-header div  {
    text-align: end;
    align-items: end;
    margin-left:auto;  
    margin-right:0px; 
}

.detailed-report-card{
    width: 70%;
    height: fit-content;
    overflow:auto;
}

/***************** TEXT TABLE ALIGNMENT CSS *****************/
.left-td {
    text-align: left;
}

.right-td {
    text-align: right;
}