/***************** LOGIN CSS *****************/
.login-bg {
    height: 100%;
    padding: 0%;
    background-position: center;
    background-color: #292F36;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    border-radius: 15px;
    border: 2px solid #547AA5;
    box-shadow: 10px 10px #292F36;
    background-color: #E7EEEC;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box form {
    width: 50%;
}

.user-confirm,
.login-box .btn.btn-primary {
    margin-top: 0.7rem;
    text-align: center;
}

/***************** TEMPLATE PAGE CSS *****************/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E7EEEC;
    display: inline;
}

.current-user {
    margin-left: auto; 
    margin-right: 0;
}

/* For SideBar */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 15vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 999; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #292F36;
    overflow-x: hidden;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav img {
    margin: auto;
    display: block;
}

.sidenav h1 {
    padding: 6px 8px 6px 16px;
    color: #f1f1f1;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}


.sidenav .logout-button{
    position: absolute;
    bottom: 0; 
    left: 0;
}
  

.main {
    margin-left: 15vw;
}

/****************** FOR CARDLAYOUT CSS ******************/
.card {
    min-height: 18vw;
    margin: 10px;
    padding: 20px;
}

.card-body h5{
    font-weight: bold;
}

.card-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
  
.card-holder a {
    text-decoration: none;
}

h1 {
    padding-top: 10vm;
}

/***************** VIEW SALES PAGE CSS *****************/
.sales-header {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    margin-top: 0.5em;
}

.sales-date {
    display: inline-flex;
    justify-content: center;
    padding: 1rem;
}

.table {
    text-align: center;
}

.sales-form-group {
    display: inline-flex;
}


.datepicker .datepicker-days tr td.active ~ td,
.datepicker .datepicker-days tr td.active {
    color: #af1623 !important;
    background: transparent !important;
} 

.datepicker .datepicker-days tr:hover td {
    color: #000;
    background: #e5e2e3;
    border-radius: 0;
} 

/***************** VIEW DISH PAGE CSS *****************/
.card-dish {
    min-height: 25em;
    margin: 10px;
    padding: 20px;
    background-color: #E7EEEC;
}

.viewdish-header{
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    margin-top: 0.5em;
}

/***************** ORDER TERMINAL PAGE CSS *****************/

.order-card {
    display: inline;
}

.order-card-transaction {
    min-width: 28vw;
}

.order-card-options {
    min-width: 68vw;
}

/***************** USER ACCOUNT MANAGEMENT CSS *****************/

#content-title {
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
}

.form-align-left {
    text-align: left;
}

.form-align-left a {
    text-decoration: none;
    color: #818181;
}

th, td {
    vertical-align: middle;
}

td i {
    margin: 1rem;
}

.btn.btn-secondary{
    color: wheat;
}